@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Water+Brush&display=swap');

/* Variables */

:root {
    --bg-color: #000c1d;
    --info-color: #D8E6FC;
    --dark-color: #060606;
    --main-color: #1f4376;
    --warning-color: #ffe657;
    --primary-color: #3988F6;
    --secondary-color: #2e2274;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #000;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 20px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;
}

p {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.5;
}


/* Utility Class */

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 0;
    color: var(--info-color);
}

.btn {
    display: inline-block;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn:hover {
    transform: translateY(-10px);
    transform: scale(1.1);
    box-shadow: 0 10px 15px -5px #000;
}

.btn-light {
    background: #fff;
    color: var(--bg-color);
    transition: 0.5s;
}

.btn-primary {
    background: var(--bg-color);
    color: var(--info-color);
    transition: 0.5s;
}


.title {
    margin: 30px auto;
    text-align: center;
    text-transform: uppercase;
    color: var(--bg-color);
    text-shadow: 2px 2px 2px #808080;
}


/* Top Bar*/

#top-bar {
    background: var(--bg-color);
    font-size: small;
}

#top-bar .container {
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.top-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-icons li {
    padding: 2.5px 5px;
    margin: 0 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #ccc;
    transition: 500ms;
    background: var(--bg-color);
}

.top-icons li a {
    color: var(--info-color)
}

.top-icons li:hover {
    transform: scale(1.2);
}

/* Header */


#header {
    width: 100%;
    background: url(/assets/img/bg.svg);
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
}

.sticky {
    position: sticky;
    top: 0;
    margin: 0;
    background: #000c1df5 !important;
}

#header .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo h1 {
    font-family: 'Water Brush', cursive;
    font-weight: 200;
    font-size: 30px;
    margin: 0;

}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-nav li {
    padding: 5px 15px;
}

.main-nav li a {
    color: var(--info-color);
}

.main-nav li a:hover{
    color: var(--warning-color);
}

/* Banner */

#banner {
    background: url(/assets/img/bg.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 20px;
}

#banner .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.skills-img {
    position: relative;
}

.skills-img img {
    width: 100%;
    max-width: 500px;
}

#banner .container .bx {
    position: absolute;
    font-size: 50px;
    padding: 2px 2px;
    border-radius: 10px;
    animation-name: bounce-down;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#banner .container .item1 {
    top: 0;
    left: 0;
    color: var(--warning-color);
    background: #1c1c1c;
    animation-duration: 1s;
}

#banner .container .item2 {
    top: 5%;
    right: 10%;
    color: #db6355;
    background: whitesmoke;
    animation-duration: 1.1s;
}

#banner .container .item3 {
    bottom: 10%;
    right: 10%;
    color: #350fb3;
    background: whitesmoke;
    animation-duration: 1.2s;
}

#banner .container .item4 {
    bottom: 15%;
    left: 20%;
    color: var(--bg-color);
    background: #787CB5;
    animation-duration: 1.3s;
}

#banner .container .item5 {
    top: 40%;
    left: 5%;
    color: whitesmoke;
    background: #0b0b0b;
    animation-duration: 1.4s;
}

#banner .container .item6 {
    top: 10%;
    left: 40%;
    color: #3d87ff;
    background: whitesmoke;
    animation-duration: 1.5s;
}

#banner .container .item7 {
    bottom: 10%;
    left: 50%;
    color: #fb7f37;
    background: #0b0b0b;
    animation-duration: 1.6s;
}

.banner-info {
    flex: 1;
    text-align: justify;
    padding-right: 30px;
    width: 50%;
}

.banner-info a {
    flex: 1;
    text-align: justify;
    padding-right: 30px;
    margin-top: 30px;
    margin-right: 20px;
}

.banner-info h2 {
    margin-bottom: 30px;
}

.banner-info h2 span{
    color: var(--warning-color);
}

.banner-info .info-git{
    margin-top: 10px;
    display: block;
    font-size: 11px;
    color:  var(--warning-color);
}


/* Features */

#features {
    background: var(--bg-color);
}

#features .container {
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    padding: 20px 0;
}

.features-info {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    width: 50%;
    font-size: 12px;
}

.features-info i {
    font-size: 70px;
    color: var(--warning-color);
}

.info-features {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Portfolio */

#portfolio .container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 380px;
}

.card-box {
    padding: 25px 15px;
    background: #1c1c1c;
    border-radius: 10px;
    background: url(/assets/img/card-bg-2.svg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.card-box img {
    width: 100%;
    border-radius: 10px;
}

.card-box a {
    align-self: flex-end;
}

.card-header {
    padding-top: 20px;
    margin: 5px 0;
    color: var(--warning-color);
}

.card-description p{
    font-size: 12px;
    text-align: justify;
    margin: 25px 0;
}


/* Footer */

footer {
    margin-top: 20px;
    background: var(--bg-color);
    text-align: center;
}






/*Animation*/
@keyframes bounce-down {
    25% {
        transform: translateY(-6px);
    }

    50%,
    100% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(6px);
    }
}
